<div class="hero">
    <h1>origami for everyone</h1>
</div>
<div class= "container">
    <div class= "copy row">
        <div class="col-sm-4">
            <img src="http://www.icon2s.com/wp-content/uploads/2013/07/black-white-metro-origami-icon.png" alt="crane" class="image1"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, officia, illum adipisci nihil maxime dolorum praesentium magnam officiis distinctio numquam nostrum quo ratione sequi laborum dolore neque facere porro autem fugit dolor ea saepe laudantium odit ipsum magni expedita quisquam cumque earum corporis sit. Repellendus quibusdam veniam voluptates harum perferendis!
            </p>
        </div>
         <div class="col-sm-4">
            <img src="http://www.icon2s.com/wp-content/uploads/2013/07/black-white-metro-origami-icon.png" alt="crane" class="image1"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, officia, illum adipisci nihil maxime dolorum praesentium magnam officiis distinctio numquam nostrum quo ratione sequi laborum dolore neque facere porro autem fugit dolor ea saepe laudantium odit ipsum magni expedita quisquam cumque earum corporis sit. Repellendus quibusdam veniam voluptates harum perferendis!
            </p>
        </div>
         <div class="col-sm-4">
            <img src="http://www.icon2s.com/wp-content/uploads/2013/07/black-white-metro-origami-icon.png" alt="crane" class="image1"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, officia, illum adipisci nihil maxime dolorum praesentium magnam officiis distinctio numquam nostrum quo ratione sequi laborum dolore neque facere porro autem fugit dolor ea saepe laudantium odit ipsum magni expedita quisquam cumque earum corporis sit. Repellendus quibusdam veniam voluptates harum perferendis!
            </p>
        </div>
    </div>
</div>
    <div class="content">
        <p class="long-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, id accusamus autem quod quia? Labore at esse quo error quasi quam repellat pariatur fugit nam quisquam. Molestias, laudantium fuga modi mollitia autem voluptates hic animi iste id blanditiis pariatur ut porro rerum corporis aliquid molestiae quasi distinctio dolores officiis labore dolorem in quos voluptatibus temporibus tempore assumenda error neque ipsum iusto harum soluta aliquam perferendis reiciendis asperiores quaerat aspernatur expedita reprehenderit nisi eligendi eos delectus at consequatur quam inventore ea sequi. Odit, eos, culpa. Et, cupiditate odio aliquid quod dolores earum accusantium unde doloremque voluptatum soluta dignissimos laudantium quasi officiis.
        <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, recusandae, voluptates quod doloremque suscipit sequi optio beatae similique qui error doloribus architecto ut ipsa corrupti hic eos illum. Explicabo, quam asperiores nihil voluptatibus beatae magni pariatur temporibus accusamus voluptates consectetur totam saepe quaerat soluta quisquam exercitationem laboriosam labore quasi facere praesentium in. Iusto, dolor, saepe, accusamus doloremque ab ducimus totam mollitia vero qui voluptates est assumenda commodi tenetur quod quia? Sapiente, hic, reiciendis iste debitis unde aut voluptates saepe officiis soluta consequuntur earum porro blanditiis obcaecati. Reprehenderit, consequuntur, nobis consequatur eos recusandae corporis non dolore perspiciatis quod sint cum quibusdam.
        </span></p>
    </div>
<div class="copy">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, necessitatibus unde voluptate iure quo reprehenderit quasi labore facere natus obcaecati blanditiis exercitationem ratione perspiciatis sed numquam maiores et voluptates dolor nihil quod. Ipsa ullam consequuntur assumenda sint incidunt? Magni, laudantium, sequi aliquam aliquid neque alias quo ex quasi. Debitis, unde, quaerat, nesciunt nisi voluptates quasi dolore autem vel fugiat veniam reprehenderit nihil quia. Mollitia, odit sunt expedita incidunt repudiandae nisi minima ad. Sequi, neque, est, excepturi perspiciatis dolor velit voluptate ad nam blanditiis ducimus eius hic facilis laborum voluptatum facere minus iure sapiente voluptatem consequuntur iste modi consectetur soluta quisquam.
    </p>
</div>
<div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, tempore quis repellendus quia beatae maxime autem mollitia ex consequatur ea vitae id iste est quae harum laborum repellat pariatur minus eaque itaque. Tempore, magni laborum provident earum sapiente modi. Officiis, eius blanditiis fugiat at nulla voluptatibus culpa enim quis ratione harum. Amet, doloribus, pariatur impedit eum in unde tempore animi quisquam officia suscipit alias et maxime ut natus sunt veniam id dolores debitis officiis numquam cupiditate quidem at soluta ab non aut tenetur. Est, perspiciatis, labore, dolore vel ut ab impedit repellendus debitis ipsum itaque nisi possimus eveniet voluptatem voluptatum.
    </p>
</div>
