

body {
    margin: 0;
    padding: 0;
    color: #A39898;
    font-family: Quicksand, sans-serif;

}


.hero {
    height: 500px;
    background-image: url("https://c2.staticflickr.com/4/3786/11205572605_90483e8cb3_b.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 0 50px 0;
    h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #000000;
    font-size: 500%;
    size: 50px;
    line-height: 600%;
    letter-spacing: 1px;
    margin: 0;
    }
} 
.copy {
    margin: 50px;
    text-align: justify;
    img {
        width: 50%;
        margin-left: 60px;
        margin-bottom: 25px;
    }
}

.content {
    margin: 50px;
    text-align: justify;
}

.long-content {
    span {
        display: none;

    }
}

.nav {

    position: absolute;
    right: 15px;
    top: 15px;
}

